@model Coffe_Shop_MVC.Models.Cheque

@{
    SelectList tables = new SelectList(ViewBag.tables, "Id", "Number");
    ViewData["Title"] = "Edit";
}

<h4>Cheque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cheque_Number" class="control-label"></label>
                <input asp-for="Cheque_Number" class="form-control" />
                <span asp-validation-for="Cheque_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cheque_Value" class="control-label"></label>
                <input asp-for="Cheque_Value" class="form-control" />
                <span asp-validation-for="Cheque_Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cheque_Date" class="control-label"></label>
                <input asp-for="Cheque_Date" class="form-control" />
                <span asp-validation-for="Cheque_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Table" class="control-label"></label>
                <select asp-for="Table_Id" class="form-control"
                    asp-items="tables">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

